<ul id="tags">
    <li><a href="https://mva.microsoft.com/ru/training-courses/-c-8622?l=Y8uvO">для новичков</a>
    <li><a href="https://msdn.microsoft.com/ru-ru/library/67ef8sbd.aspx">C#</a>
    <li><a href="https://github.com/moontag/asp.net">github</a>
    <li><a href="http://www.smarly.net/pro-asp-net-mvc-4/">материалы по лекциям</a>
    <li><a href="http://acm.timus.ru/">олимпиады</a>
    <li><a href="http://www.dreamspark.ru/">dreamspark</a>
    <li><a href="https://vk.com/asp.net_itmo">группа</a>
    <li><a href="http://www.asp.net/">asp.net</a>
    <li><a href="https://vk.com/molli_w">Molli</a>
    <li><a href="https://vk.com/topic-115220605_33480856">домашнее задание #1</a>
</ul>
<div id="feed">
    <div class="img1">
        <a href="http://ericandrewlewis.github.io/emoji-mosaic/"><img src="~/Contents/img/emoji-mosaic.jpg" width="500px"></a>
    </div>
    <div class="img2">
        <img src="~/Contents/img/long.jpg" width="500px">
    </div>
    <div class="img3">
        <img src="~/Contents/img/3.jpg" width="500px">
    </div>
    <div class="img4">
        <a href="http://www.apple.com/ru/ios/"><img src="~/Contents/img/4.jpg" width="500px"></a>
    </div>
    <div class="img5">
        <a href="http://tidal.com/album/57273408"><img src="~/Contents/img/5.jpg" width="500px"></a>
    </div>
</div>